html{
    font-family: 'Oxygen', sans-serif;
    font-size: small;
    }
.container {
    /*max-width: 1440px;
    min-width: 768px;*/
}
.bar {
    background-image: url(..//image/photo-back-ground.jpeg);
    /*min-height: 100vh;*/
    background-size: cover;
   
}
.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card-img {
    height: 100%;
}
   
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-expand .navbar-nav {
    flex-direction: column;  /* header */
}


@media (min-width:768px) {
    html{
        font-size:medium;
        }
    .navbar-expand .navbar-nav {
        flex-direction: row;  /* header */
    }
    .bar {
        min-height: 100vh;
    }
    #cream {
        grid-area : cream;
    }
    #lip {
        grid-area : lip;
    }
    #hair {
        grid-area : hair;
    }
    #gridbox1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "cream lip hair";
        gap: 30px;
    }
    #gridbox2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 50px;
    }
    #delivery {
        grid-area : delivery;
    }
    #contacts {
        grid-area : contacts;
    }

    #gridbox3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "delivery contacts .";
        gap: 20px;
    }
    #delivery>h4 {
        color:silver;
        opacity:25%;
    }

    #info {
        grid-area : info;
    }
    #service {
        grid-area : service;
    }
    #extras {
        grid-area : extras;
    }
    #account {
        grid-area : account;
    }
    #gridbox4 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "info service extras account";
        gap: 20px;
    }